footer {
  border-top: 1px solid #eef1f1;
  background-color: white;
  /* padding-top: 40px; */
  margin-top: 60px;
}

.footer-container,
.footer-bottom {
  width: 100%;
  display: flex;
  max-width: 1110px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
  padding: 0 47px 45px 47px;
}
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1110px;
  margin-left: 50%;
  transform: translateX(-50%);

  padding: 0 47px 45px 47px;
}

.footer-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-header .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-header span {
  font-weight: bold;
  font-size: 22px;
}

.footer-lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
  padding: 0px 8px;
  border-radius: 5px;
}
.footer-lang:hover {
  background-color: #ededed;
}

.footer-lang svg {
  height: 16px;
  width: 16px;
}

.footer-lang:hover > .lang {
  display: flex !important;
}

.lang {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-weight: 600;
  top: 35px;
  color: #555f62;
  background-color: #fff;
  border: 1px solid #e1e4e5;
  /* border-radius: 4px; */
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  box-shadow: 0 4px 6px 2px rgba(12, 43, 67, 0.05);
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 45px;
  border-bottom: 1px solid #eef1f1;
}

.footer-content-column {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  pointer-events: none;
}

.footer-content-column .a-tag {
  color: #141719;
  font-weight: 700;
}

.footer-content-column a,
.footer-bottom a {
  cursor: pointer;
}

.footer-content-column .a-tag:hover {
  color: #141719;
}

.footer-content-column a:hover,
.footer-bottom a:hover {
  color: #007aff;
}

.footer-bottom .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact_us_footer h2 {
  font-weight: bolder;
  color: black;
  padding-bottom: 20px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.flex:hover {
  text-decoration: underline;
}
.footer_social_list {
  margin-top: 20px;
  display: flex;
}
.social_icon {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #f9fafa;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  display: flex;
  cursor: pointer;
  margin-left: 5px;
}
.social_icon:hover {
  color: #182cc0;
  background-color: #eee;
}
.contuct_way {
  margin-bottom: 30px;
}
.contact_us_footer {
  margin-bottom: 30px;
}
.rules {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.burger_clicker {
  width: 100%;
  top: 20px;
  min-height: 100vh;
  position: fixed;
  z-index: 999;
  display: none;
}
.active {
  display: block;
}

@media (max-width: 1000px) {
  .footer-header span {
    display: none;
  }
  .footer-content-column {
    pointer-events: auto;
  }
  .rules {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    align-items: start;
  }

  .footer-content {
    flex-direction: column;
    align-items: start;
  }

  .footer-content-column {
    border-bottom: 1px solid #d1d5d6;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
  }

  .footer-container {
    border-bottom: 1px solid #d1d5d6;
  }
}

.inner-a-tags {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 24px;
  flex-direction: column;
}
.colection_click,
.library_click,
.offer_click,
.prod_click {
  height: 135px;
  overflow: hidden;
  transition: height 0.8s;
}

@media (max-width: 1000px) {
  .colection_click,
  .library_click,
  .offer_click,
  .prod_click {
    height: 0;
    overflow: hidden;
    transition: height 0.8s;
  }
  .contact_us_footer h2 {
    padding-top: 30px;
  }
}
